/Projeto01/nbproject/private/
/Projeto01/build/
/TAL/TrabalhoPEOO_7-3_bim/nbproject/private/
/TAL/Heraca-estudos/nbproject/private/
/TAL/Select_01/nbproject/private/
/TAL/Select_01/build/
/Minicurso/Minicurso_interface_grafica/nbproject/private/
/Minicurso/Minicurso_interface_grafica/build/