/Projeto01/nbproject/private/
/Projeto01/build/
/TAL/TrabalhoPEOO_7-3_bim/nbproject/private/
/TAL/Heraca-estudos/nbproject/private/
/TAL/Select_01/nbproject/private/
/TAL/Select_01/build/
/Minicurso/Minicurso_interface_grafica/nbproject/private/
/Minicurso/Minicurso_interface_grafica/build/
/Minicurso/Minicurso_segunda/nbproject/private/
/Minicurso/Minicurso_segunda/build/
/Minicurso/PABD_CRUD_01/nbproject/private/
/Minicurso/PABD_CRUD_01/build/
/Minicurso/tempo/nbproject/private/
/Minicurso/tempo/build/
/Minicurso/loja/nbproject/private/
/Minicurso/loja/build/
/Estudos/Terminal/Serializacao_01/nbproject/private/
/Estudos/Terminal/Serializacao_01/build/
/Estudos/Terminal/testeBugado/nbproject/private/
/Estudos/Terminal/testeBugado/build/